<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotransfer.identify">

    <application>
        <activity android:name=".ui.KycCameraActivity" />
        <activity android:name="com.baidu.idl.face.platform.ui.FaceLivenessActivity" />
        <activity android:name=".ui.ReferenceResultActivity" />
        <activity android:name=".ui.OcrReferenceActivity" />

        <activity android:name=".ui.IdentifyReferenceActivity" />
        <activity android:name=".ui.ChangeCountryActivity" />

        <receiver
            android:name="com.baidu.liantian.LiantianReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>
</manifest>